body {
    background-color: #f8f8f8;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    \
}

h3 {
    color: #000000;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

#top-bar {
    background-color: #f8f8f8;
}

#splash-screen {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}


#map {
    display: block;
    width: 50%;
    height: 300px;
}

.top-bar,
.top-bar ul {
    background-color: #f8f8f8;
}

#result-head {
    color: #fff;
}

.menu>li {
    background-color: #f8f8f8;
}

.button {
    background-color: #000;
}

.button.small.expanded.hollow {
    width: 40%;
    position: relative;
    margin-top: -100px;
}

.button.hollow {
    color: white;
    border-color: gray;
}

.button.expanded {
    background-color: gray;
    color: #000;
}



.callout.large {
    background-color: #f8f8f8;
    border-top: 5px solid #63b4bf;
}

.subheader {
    color: #000;
}


.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
}

.menu-hover-lines li a {
    padding: 0.75rem 0;
    color: #000000;
    position: relative;
    margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
    margin-left: 0;
}

.menu-hover-lines li.active>a {
    background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #63b4bf;
    width: 0;
}

.menu-hover-lines a::before {
    top: 0;
    left: 0;
}

.menu-hover-lines a::after {
    bottom: 0;
    right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active>a {
    color: #000000;
    transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
    width: 100%;
}
/*EVENT BANNER*/

#welcome-button {
    max-width: 600px;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.3);
    padding: 20px;
    border: 6px solid black;
    position: relative;
    top: -600px;
}

#event-box {
    margin-bottom: 100px;
    background-color: rgba(99, 180, 191, 1);
}


/*FLOATING SEARCH FORM*/

.tabbed-search-content {
    position: relative;
    top: -59px;
    background: #43403a;
    border: none;
}

@media screen and (max-width: 39.9375em) {
    .tabbed-search-content {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

.tabbed-search-content label {
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #efefef;
    letter-spacing: 0.5px;
    color: #63b4bf;
    background: #43403a;
}

.tabbed-search-content input[type=text] {
    margin-top: 15px;
    background: #2d2b27;
    color: white;
    border: 1px solid #7a7469;
    border-radius: 3px;
    font-weight: 400;
    padding-left: 15px;
}

@media screen and (max-width: 39.9375em) {
    .tabbed-search-content input[type=text] {
        margin-top: 0px;
    }
}

.tabbed-search-content select {
    margin-top: 15px;
    background: #2d2b27;
    color: white;
    border: 1px solid #7a7469;
    border-radius: 3px;
    font-weight: 400;
    padding-left: 15px;
}

@media screen and (max-width: 39.9375em) {
    .tabbed-search-content select {
        margin-top: 0px;
    }
}

.tabbed-search-content .button.search-button {
    padding-left: 0;
    padding-right: 0;
    border-radius: 3px;
    margin-top: 15px;
}

@media screen and (max-width: 39.9375em) {
    .tabbed-search-content .button.search-button {
        margin-top: 0px;
    }
}

.tabbed-search-content .button.search-button i {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-top: -2px;
}

.tabs-title>a {
    color: #fff;
    font-size: 1em;
}

.tabs-title>a:focus,
.tabs-title>a[aria-selected='true'] {
    color: #fff;
    background: #43403a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs-title>a:hover {
    color: #fff;
    background: #43403a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.signup-callout {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("https://unsplash.it/2000/1200?image=667");
    background-position: center center;
}
.button.primary:hover {
  background: #63b4bf;
}

.signup-callout h2 {
    color: #fff;
}

.signup-callout p {
    color: #fff;
}

.tabs-title>a {
    padding: 1em 1.25em;
}


/*Welcomebutton*/

.button-hover-like {
    border-radius: 20px;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 40%;
    border: 4px solid #fff;
    background: rgba(100, 100, 100, 0.3);
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.07rem;
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.button-hover-like a {
    color: #fff;
}

.button-hover-like span {
    transition: all 0.2s ease-in-out;
}

.button-hover-like .fa {
    position: absolute;
    font-size: 1.2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #F15261;
    right: -20px;
    transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
}

.button-hover-like:hover {
    border-color: #63b4bf;
    background: rgba(100, 100, 100, 0.3);
    transition: border-color 0.2s;
}

.button-hover-like:hover span {
    margin-right: 20px;
    color: #fff;
}

.button-hover-like:hover .fa {
    right: 10px;
}